<section class="hero is-primary" tabindex="0">
  <div class="container hero-body">
    <div class="columns is-gapless is-multiline is-centered is-vcentered">
      <div class="column is-two-thirds">
        <h1 class="title hero-title">
					<span class="has-text-white">Fancy</span> <span class="has-text-dark">Safe</span> <span class="has-text-secondary">Bot</span></h1>
        {% if subtitle %}
          <p class="subtitle hero-subtitle">{{ subtitle }}</p>
        {% endif %}
      </div>
      <div class="column is-one-third">
        <figure class="image hero-image">
          <img src="img/FSB_logo_arm.svg" alt="Fancy Safe Bot logo" width="800px" loading="eager" />
        </figure>
      </div>
    </div>
  </div>
</section>
